body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #454545;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
html, body,  #root {
    height: 100% !important;
  }

  .pointer {
    cursor: pointer;
  }

  input:focus {
    outline: none;
    }

  .bold {
    -webkit-text-stroke-width : 0.0px;
    font-weight: 600;
  }

.reorder_list {
  position: relative;
  user-select: none;
}
.reoder_ul {
  position: relative;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}